body{
  background-color: green;
  margin: 0px;
}

#games{
  display: flex;
  justify-content: center;
  margin: 0px;
}

.div_game{
  height: 160px;
  width: 110px;
  border: 1px solid;
  border-color: black;
  border-radius: 10%;
  margin: 0px;
  margin-right: 10px;
}

.div_img_game{
  height: 100px;
  width: 100px;
  margin: 5px;
}

.div_a_game{
  height: 45px;
  width: 100px;
  margin: 5px;
  display: flex;
  text-align: center;
  background-color: brown;
  border-radius: 10%;
}

.img_game{
  height: 100px;
  width: 100px;
  margin: 0px;
}

.a_game{
  height: 50px;
  width: 100px;
  margin-top: 0px;
}

a{
  color: white; 
  text-decoration: none;
  margin: 0px;
}

.h2_game{
  margin-top: 10px;
  font-size:large;
}